server:
  port: 8080

spring:
  application:
    name: api-gateway

  main:
    web-application-type: reactive

  cloud:
    discovery:
      reactive:
        enabled: true

    gateway:
      discovery:
        locator:
          enabled: false

      routes:
        - id: user-service-route
          uri: lb://user-service
          predicates:
            - Path=/api/users/**

        - id: ai-service-route
          uri: lb://ai-service
          predicates:
            - Path=/api/ai/**

        - id: learning-service-route
          uri: lb://learning-service
          predicates:
            - Path=/api/learning/**

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

logging:
  level:
    org.springframework.cloud.gateway: DEBUG